# Ignore everything
*

# Except these .. (write files / folders that shouldn't be ignored, below)

!.gitignore

!data/       # Don't ignore this folder
!data/**     # Don't ignore anything in this folder and subfolder

!documents
!documents/**
