# Ignore everything
*

# Except these .. (write files / folders that shouldn't be ignored, below)

!.gitignore

!data/
!data/**

!src/
!src/**

!ipynb/
!ipynb/**

!documents
!documents/**

!*.md

.DS_Store